body {
  margin: 0;
  background: #11121a;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 2em;
}

h1 {
  text-align: center;
}

.search {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.search-container {
  background-color: #1c1c24;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #222328;
  display: flex;
  overflow: hidden;
}

.input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.input-container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.input-container i {
  font-size: 20px;
  margin-left: 25px;
}

.button-container {
  background: #3060ff;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-container:hover {
  background: #5a81ff;
}

.image_container {
  grid-gap: 1em;
  width: 80%;
  margin: 4em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-items: center;
  justify-content: center;
}

.error-message {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid #222328;
  background-color: #1c1c24;
}
.error-message p {
  color: red;
}

.error-message span:hover {
  cursor: pointer;
}

.image-card {
  align-content: center;
  padding: 1.2em;
  height: auto;
  width: 200px;
  background-color: #1c1c24;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.image {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.title {
  margin-top: 0.5em;
  color: rgb(229, 241, 234);
  font-size: 600;
}
